
.header{
    text-align: center;
   
}

.input-group{
    border: none;
}

.inputBod{
    border: none;
}
.input-group-prepend{
    border: none;
}

.input-group-text{
    background-color: #007bff;
    color: white;
    border: none;
}

.jumbotron{
padding: none;

}

.inputBod{
    height: 60px;
}

.form-control{
    height: 60px;
}